
    <div class="title">
        <h1>{{title}}</h1>  
    </div>
    <div class="search-box">
        <input type="text" placeholder="Search movies" />
        <button (click)="search()" type="button">Go</button>
        <button (click)="reset()" type="button">Clear</button>
    </div>
    
    <div class="dashboard">
        <div  class="card" *ngFor="let movie of movies" >
            <div class="grid-container"> 
            
                <img src="../../assets/images/{{movie.movieTitle}}.jpg" alt={{movie.movieTitle}}>
                <img class="rating" src="../../assets/images/rating.svg" alt={{movie.rating}}><span>{{movie.rating}}</span>
                <div class="card-content">
                    <span class="catagory">{{movie.movieTitle}}&nbsp;{{movie.genre}}&nbsp;{{movie.yearOfRelease}}</span>
                </div>        
            </div>
        </div> 
</div>
